<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .nav-item {
            display: inline-block;
            margin: 10px;
        }
        .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            color: white;
            background-color: #007BFF; /* Màu nền */
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .nav-link:hover {
            background-color: #0056b3; /* Màu nền khi hover */
        }
    </style>
</head>
<body>

    <h1>Trang Chủ</h1>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Vehicle">Tra Cứu</a>
        </li>
    </ul>

</body>
</html>
